/* ==UserStyle==
@name           Startpage responsive
@version        1.0.1
@description    Startpage website is more suitable for wide screens.
@author         BreatFR (https://breat.fr)
@namespace      https://gitlab.com/breatfr
@homepageURL    https://gitlab.com/breatfr/startpage
@updateURL      https://gitlab.com/breatfr/startpage/-/raw/main/css/startpage-responsive.user.css
@supportURL     https://discord.gg/Q8KSHzdBxs
@license        AGPL-3.0-or-later; https://www.gnu.org/licenses/agpl-3.0.txt
==/UserStyle== */

/* === Credits ===
Website         https://breat.fr
facebook        https://www.facebook.com/breatfroff
mastodon        https://mastodon.social/@breat_fr
telegram        https://t.me/breatfr
vk              https://vk.com/breatfroff
X (twitter)     https://x.com/breatfroff
=== Credits === */

@-moz-document domain("startpage.com") {
    /* Search results */
    .css-1juavld {
        margin-left: 20px;
        margin-right: 0;
        max-width: calc(100% - 465px);
    }
    
    /* Hide feedbacks button */    
    .feedback-button-container {
        display: none;
    }
}
